@font-face {
  font-family:"Avenir Next";
  src: url("/font/AvenirNext-Regular.ttf"); /* EOT file for IE */
}
@font-face {
  font-family:"Avenir Next";
  src: url("/font/AvenirNext-Bold.ttf"); /* EOT file for IE */
  font-weight:bold;
}

@media (min-width: 320px) {
  .issue-box {
    background: blue;
  }
}
.hero {
  padding:0 20px;
}
.footer {
  padding:1em 0;
}
.issue-board {
  display:flex;
  flex-wrap: wrap;
}
.issue-box {
  background: #fff;
  flex:0 1 450px;
  box-shadow: 0 10px 30px -8px rgba(0,0,0,.90);
  margin:20px;
  padding:0 12px;
  border-radius: 2px;
}
body {
  font-family:"Avenir Next","Helvetica";
  background-color: #5c93f1;
}
h1 {
  padding-bottom:15px;
}
h3 > a {
  text-decoration: none
}
h3 > a:hover {
  text-decoration: underline;
}
a {
  color: inherit;
}
.issue-box > h3 {
  color:#f64250;
}
