<h1>Your vote matters</h1>

<p>Some people think this election is a choice between the lesser of two
evils. These people disagree.


{% block reason %}
<h2>I'm voting for Hillary because...</h2>
{% endblock %}

<table border="1">
  {% for reason in reasons %}
  {% if loop.index % 2 == 1 %} 
  {% if loop.index != 1 %} </tr> {% endif %}
  <tr> 
  {% endif %}
    <td>
      {# <h3>{{ reason.title }}</h3> #}
      <h3>
        <a href="/{{reason.tag}}">
          {{ reason.tagline }}
        </a>
      </h3>
      {% if reason.video %}
      <p>
      {{ reason.video }}
      </p>
      {% endif %}
      <a href="#">Like</a>
      <a href="#">Tweet</a>
      <a href="#">Share</a>
    </td>
  {% endfor %}
</table>

