{% extends "base.j2" %}
{% block body %}

<h1>Your vote matters</h1>

<p>Some people think this election is a choice between the lesser of two
evils. These people disagree.

{% block reason %}
<h2>I'm voting for Hillary because...</h2>
{% endblock %}

<div class="issue-board">
  {% for reason in reasons %}
  <div class="issue-box">
    <h3>
      <a href="{{ reason.url }}">
        {{ reason.body_upper }}
      </a>
    </h3>
    {% if reason.video %}
    <p>
    <center>
      <iframe width="355"
              height="200"
              src="https://www.youtube.com/embed/{{ reason.video }}"
              frameborder="0"
              allowfullscreen
              >
      </iframe>
    </center>
    </p>
    {% endif %}
    {{ social_buttons(reason) }}
  </div>
  {% endfor %}
</table>
{% endblock %}
