{% extends 'index.j2' %}
{% block title %}
I'm voting for Clinton because {{ reason.tagline }}
{% endblock %}
{% block separator %}
{% endblock %}

{% block reason %}
<h1>I'm voting for Clinton because {{ reason.tagline }}</h1>
{% if reason.body %}
<h2>{{ reason.body }}</h2>
{% endif %}
{% if reason.video %}
<center>
  <div style="max-width:710px;">
    <div class="video-container">
  <iframe
          width="710"
          height="400"
          src="https://www.youtube.com/embed/{{ reason.video }}"
          frameborder="0"
          allowfullscreen
          >
  </iframe>
</div>
  </div>
</center>
{% if community_videos %}
<h3>Community Videos</h3>
{% endif %}

{% endif %}

{{ social_buttons(reason) }}
{{ like_button(reason) }}
{% endblock %}
